@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font>* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0 auto;

}

/* shared style */
.display-flex {
  display: flex;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

.text-primary {
  color: #FF900E;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

.btn-primary {
  max-width: 180px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
}


main {
    margin: 0 auto;
}

main>section {
  margin-top: 100px;

}



.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header style */


/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-links {
  text-decoration: none;
}

/*  banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  max-width: 862px;
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-top: 102px;
}

.banner-description {
  max-width: 868px;
  font-size: 16px;
  margin-bottom: 32px;

}

.banner-image {
  text-align: center;
  max-width: 850px;
}

/* team and features related style*/
.teams {
  align-items: center;
  justify-content: center;
}

.team-image-container {
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-left: 220px;
 
}

.team-image-container img{
   width: 100%;
 }

.our-features {
  max-width: 530px;
  margin-left: 70px;
  margin-right: 90px;

}

.features-title {
  max-width: 542px;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.features-description{
  max-width: 530px;
  font-size: 1rem;
  margin-bottom: 24px;
}

#quick-list{
  font-weight: 500;
}
/* some fact related design */

.section-title{

   font-size: 45px;
  font-weight: 700;
  margin: 130px 0 24px 150px;
 

}
.fact-description{
  max-width: 542px;
  margin-left: 150px;
}
.fact-container{
 max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.fact-card{
  
  border:1px solid #FF900E;
  border-radius: 8px;
   width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 0;
    margin-left: 0;
  
}


.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  
}

/* sponsors related style */

.our-sponsors{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-companies{
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.sponsors-companies img{
  filter: grayscale(100%);
}


footer{
  max-width: 1100px;
  text-align: center;
  background-color: #FFF4E7;
}

footer .footer-info{
  padding: 30px;
}





/*responsive media query design */


@media screen and (max-width:576px) {
  .display-flex {
    flex-direction: column;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-image {
    width: 100%;
  }
}